.chatroom {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #2c2f33;
    /* background-color: palevioletred; */
    /* background-image: url('../../pexels-steve-johnson-1416367.jpg');
    background-size: 100%;
    background-repeat: no-repeat; */
}
.chatroom_content {
    margin: 0;
    padding: 20px 40px;
    width: 1000px;
    height: calc(100vh - 141px);
    display: flex;
    flex-direction: column;
    align-items: left;
    /* background-color:palevioletred; */
    background-color:#2C2F33;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.chatroom_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.chatroom_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background-color:#2C2F33;
    /* background-color: #293846; */
}
.chatroom_headersides {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.chatroom_name {
    /* font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white; */
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: orange;
    /* color: #7289DA; */
}
.chatroom_chatlog {
    padding-left: 20px;
    padding-right: 20px;
    /* height: calc(100vh -261px); */
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    /* background-color: #25282c; */
    background-color:#2C2F33;
}
.drawerdiv {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    /* background-color: palevioletred; */
    background-color: #2C2F33;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    overflow-x: hidden;
    overflow-y: hidden;
}
.drawerfriendphoto {
    height: 200px;
    width: 200px;
    border-radius: 50ch;
    margin-bottom: 20px;
}
.drawerfriendphoto:hover {
    cursor: pointer;
}
.profile_content_field {
    margin-top: 20px;
    padding: 0 20px;
    width: calc(100%-20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    /* background-color:#23272A; */
}
.profile_content_placeholder {
    margin: 0;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.profile_content_fieldvalue {
    align-items: center;
    margin: 0;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: rgb(170, 170, 170);
}
.chatbox {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 800px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    /* color: orange; */
    color: #7289DA;
    border-bottom: 2px solid #7289DA;
}
.chatroompic {
    height: 25px;
    width: 25px;
    border-radius: 50ch;
}
.dialogtitle1 {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #7289DA;
    text-transform: capitalize;
}
.dialogtitle2 {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
}
.gifgrid {
    max-height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.gifsearchbox {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 300px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    /* color: orange; */
    color: #7289DA;
    border-bottom: 2px solid #7289DA;
}
.chatroom_headersides label:hover {
    cursor: pointer;
}
.hidden_file_input {
    display: none;
}
.addmemberscontent {
    width: 450px;
    height: 400px;
    overflow-y: auto;
}
.hidden_grouppic_input {
    display: none;
}
.renamegroupcontent {
    width: 450px;
    display: flex;
    flex-direction: column;
}
.renamegroupcontentinput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.renamegroupdialoginput {
    margin: 0;
    padding: 10px;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: white;
    background-color: #23272A;
    border: none;
    border-bottom: 2px solid #7289DA;
    outline: none;
}

@media screen and (max-width: 1100px){
    .chatroom_content {
        width: 300px;
        padding: 20px 10px;
    }
    .chatbox {
        width: 200px;
    }
    .chatroom_footer {
        padding: 20px 5px;
    }
    .gifsearchbox {
        width: 250px;
    }
    .drawerdiv {
        width: 300px !important;
    }
    .addmemberscontent {
        width: 250px;
    }
}