@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

.home {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #2C2F33;
}
.home_content {
    margin: 0;
    padding: 20px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* background-color:palevioletred; */
    background-color:#2C2F33;
}
.home_header {
    position: relative;
    top: 0;
    margin: 0;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.home_header p {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.dialogtitle1 {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #7289DA;
    text-transform: capitalize;
}
.dialogtitle2 {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-transform: capitalize;
}
.addfriendsdialoginput {
    margin: 0;
    padding: 10px;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: white;
    background-color: #23272A;
    border: none;
    border-bottom: 2px solid #7289DA;
    outline: none;
}
.addfriendslabel:hover {
    cursor: pointer;
}
.addfriendscontentinput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.addfriendscontent {
    display: flex;
    flex-direction: column;
}