.breadcrumb {
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}
.breadcrumb h2 {
    text-align: center;
    margin: 0;
    padding: 10px 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #7289DA;
    background-color: #23272A;
}