.App {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body, html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
display: none;
}